/Registro Di Gioco/nbproject/private/
/Registro Di Gioco/build/
/Registro Di Gioco/dist/
\.idea/misc\.xml

\.idea/modules\.xml

\.idea/Registro-di-Gioco-MAGMA\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml
/GameServer/nbproject/private/
/GameServer/build/
/GameServer/dist/